body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

footer {
  background: url("../img/wave.png") repeat-x;
  position: relative;
  margin-top: 500px;
  overflow: hidden;
  width: 100%;
  min-height: 18vh;
  color: #fff;
  text-align: center;
  padding: 20px;
  animation: wave 4s linear infinite;
}

@keyframes wave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes wave_02 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
