@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

.menu__wrapper {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    z-index: 999;
    gap: 24px;
    background-color: #444eff;
    height: 64px;
    padding: 0 16px;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}

.menu__bar {
    display: flex;
    align-items: center;
}

.logo {

    cursor: pointer;
    display: flex;
    align-items: center;

}

.navigation {
    margin-top: 16px;
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 16px;
    background-color: #444eff;

}

.navigation > li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    min-height: 36px;
}

.navigation > li > a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
}

.navigation > li > a.active {

    text-decoration: underline #ffffff 0.15rem;
    text-underline-offset: 0.5rem;
    transition: color 0.4s ease-in-out, border-bottom 0.4s ease-in-out;
}


.navigation > li > a:hover {
    color: #4c67ff;
    background-color: #E1E1E1;

    border-radius: 10px;
    padding: 10px;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    text-decoration: none;

}

.navigation > li > button {
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-right: -4px;
    align-items: center;
    min-height: 36px;
    font-size: 14px;
    gap: 4px;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: nowrap;
    border-radius: 999px;
    padding: 4px 10px;
    white-space: nowrap;
    background: none;
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.navigation > li > button > i {
    margin-top: 2px;
    fill: #666666;
    transition: all 0.2s ease-in-out;
}


.navigation > li:hover > button i {
    fill: #171717;
    rotate: 180deg;

}

.navigation > li:hover > button {
    color: #0d6efd;
    background-color: #E1E1E1;

}

.navigation > li:hover .dropdown {
    display: block;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7em);
        transform-origin: top;
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* dropdown menu */
.dropdown__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
}



.dropdown__wrapper__akun {
    position: absolute;
    top: 0;
    /*left: 0;*/
    right: 10px;
    padding-top: 60px;
}

.dropdown {
    border-radius: 8px;
    background-color: #FCFCFC;
    display: none;
    padding: 8px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #E6E6E6;
    box-shadow: 0 50px 100px -20px rgba(0, 0, 0, .12),
    0 30px 60px -30px rgba(0, 0, 0, .15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
    flex-direction: column;
}

.list-items-with-description {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.list-items-with-description li {
    display: flex;
    padding: 8px;
    gap: 16px;
    width: 100%;
}

.list-items-with-description li:hover {
    background-color: #F2F2F2;
    border-radius: 6px;
}

.item-title h3 {
    font-weight: 500;
    font-size: 14px;
    color: #171717;
}

.item-title p {
    font-size: 12px;
    white-space: nowrap;
    color: #666666;
}

.action-buttons {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons a {
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    padding: 4px 8px;
    transition: all 0.2s ease-in-out;
    line-height: 1.25rem;
}

.login {
    color: #000000;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 8px 16px;
    margin-right: 10px;
}

.login:hover {
    background-color: #c0c0c0;
    color: #0d6efd;
}

.keranjang {
    background-color:  #444eff;
    color: #171717;
    outline: none;
    border-radius: 6px;
}


.keranjang:hover {
    background-color: #c0c0c0;
    color: #0d6efd;

}

.keranjang .icon-path {

    background-color: #0d6efd;
}

.keranjang:hover .icon-path {
    fill: #4c67ff;

}
