
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #d1fff8;
}


.container {
    padding: 20px;
}


.content-container {
    margin-top: 20px; 
}

.text-wrapper {
    font-size: 18px;
}

.text-wrapper-2 {
    font-size: 16px;
}

.button-container button:not(:last-child) {
    margin-right: 20px;
}


.btn {
    margin-right: 10px; 
}


.btn:hover {
    color: #fff;
}

