* {
  margin: 0;
  padding: 0;

  top: 0;
}
.profile-container {
  width: 100vw;
  height: 25vh;
  margin-top: 5vh;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile {
  display: flex;
  align-items: center;
}
.profile-image {
  width: 20vh;
  height: 20vh;
  background-color: rgb(81, 80, 80);
  border-radius: 50%;
  margin-left: 2vw;
  margin-top: 5vh;
}
.profile-name {
  color: black;
  font-size: 32px;
  font-weight: 700;
  font-family: Inter;
}
.profile-info {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  font-family: Inter;
}
.profile-details {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  padding-left: 20px;
  padding-top: 20px;
}
.book {
  padding-left: 5px;
  padding-bottom: 20px;
}
.content-title {
  color: rgb(0, 0, 0);
  padding-left: 5px;
  font-size: 24px;
  font-weight: 700;
  font-family: Inter;
}
